@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --color-1: #bdb3b3;
  --color-2: #a37d44;
  --color-3: #7d938a;
  --color-4: #642902;
  --color-5: #313628;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f2f2f2;
}
